* {margin: 0;
/* font-family: "Helvetica Light", Helvetica, "Droid Sans", Arial, Arial Unicode MS, sans-serif; */
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;  }

/* app header android ______________________________*/
#cabezera{
		position: fixed; top: 0;left: 0; right: 0;
/* 		color: white; */
		width: 100%;
		height: 64px;
		z-index: 99999999;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
header .icons-left {
	padding: 20px 24px 20px 24px;
	float: left;
}
header #titulo	{
	position: absolute;
	bottom: 20px;
	left: 52px;
	/*left: 72px;*/
	font-size: 18px;
}
header .icon-right {
	float: right;
	padding: 20px 24px 20px 24px;
}

header a.icon {
	display: inline-block;
	margin-left: 24px;
}
header a svg {
  display: inline-block;
  pointer-events: none;
  position: relative;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
/* color iconos */
header a svg { fill: black; }
/* contenido _________*/
#contenido {
	/*width: 95%;*/
	height: 100%;
	/*overflow: auto;*/
	/* 72 - 64 px header */
	font-size: 32px;
	margin: 72px auto 0px;
	padding: 6%;
}

/* flechas left - right */
.chevron-arrow-left {
  display: inline-block;
  border-right: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
  width: 20px; height: 20px;
  transform: rotate(-225deg);
}
.chevron-arrow-right {
  display: inline-block;
  border-right: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
  width: 20px; height: 20px;
  transform: rotate(-45deg);
}
.chevron-arrow-left{
	display: inline-block;
	position: fixed;
	top: 76px;
	left: 5%;
}
.chevron-arrow-right{
	display: inline-block;
	position: fixed;
	top: 76px;
	right: 5%;
}
.chevron-arrow-left:hover,.chevron-arrow-right:hover {
  border-right: 4px solid #3fa2bf;
  border-bottom: 4px solid #3fa2bf;
}